
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

.header{
    display: flex;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 15px;
    padding-left: 15px;
    background-color: rgb(255, 253, 253);
}

.header ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    position: relative;
    right: -1100px;
}

.header ul li{
    padding: 10px;
}
.header ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.header ul li a:hover{
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(17, 17, 73);
    letter-spacing: 1px;
    color:rgb(29, 29, 109);
}

.header h1{
    font-size: 28px;
    color: rgb(14, 14, 80);
    position: relative;
    right: -200px;
}
.header span{
    color: yellow;
}

.header i{
    position: relative;
    right: -190px;
    font-size: 25px;
    color: rgb(6, 6, 59);

}

@media (max-width:900px) {
    .header{ 
     padding-top: 5px;
     padding-left: 2px;

    } 
    

    .header h1{
        font-size: 28px;
        color: rgb(14, 14, 80);
        position: relative;
        right: -15px;
    }

    .header i{
        position: relative;
        right: -10px;
        font-size: 25px;
        color: rgb(6, 6, 59);
    
    }

    .header ul{
        display: flex;
        list-style: none;
        justify-content: flex-end;
        position: relative;
        right: -200px;
    }
}


@media (max-width:600px) {
    .header ul{
        display: none;
    }
}


section.section1{
  height: 750px;
  width: 100%;
  position: relative;
  top:70px;
  background-image: url(img//capainicial4.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  opacity: 0.9;

}

.section1 .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 250px;

}

.section1 .box h1{
    font-size: 52px;
    color: #fff;
    flex-basis: 20%;
}

.section1 .box p{
    margin-top: 15px;
    /* border: 1px solid green; */
    font-weight:100;
    color: rgb(218, 216, 216);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

.section1 .box .btn{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 .box button{
    width: 150px;
    padding: 16px;
    margin-right: 25px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

.section1 .box .btn1{
    background-color: rgb(219, 169, 4);
    border: none;
}

.section1 .box  button:hover{
    letter-spacing: 1px;

 
}
